# Set default behavior to LF for all files
* text=auto

# Force LF for specific file types
*.js text eol=lf
*.ts text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.lock text eol=lf
*.gitignore text eol=lf
